@page "/signup"
@page "/signup/{Number:int}"
@using TulipBlazorUI.Models
@inject NavigationManager navigationManager
@inject IAPIHelper apiHelper

<EditForm Model="@registerModel" OnValidSubmit="@RegisterUser">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@
    <div>
        <br /><br /><br /><br /><br />
    </div>
    <div>
        <h3 style="font-weight:bold; color:purple">Tulip Store Login</h3>
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <input class="form-control col-12" @bind="@registerModel.FirstName" placeholder="first name" />
        &nbsp;<ValidationMessage For="@(() => registerModel.FirstName)" />
    </div>
    <br />
    <div class="col-12 row">
        <input class="form-control col-12" @bind="@registerModel.LastName" placeholder="last name" />
        &nbsp;<ValidationMessage For="@(() => registerModel.LastName)" />
    </div>
    <br />
    <div class="col-12 row">
        <input class="form-control col-12" @bind="@registerModel.EmailAddress" placeholder="username" />
        &nbsp;<ValidationMessage For="@(() => registerModel.EmailAddress)" />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password"
               class="form-control col-12"
               @bind="@registerModel.Password" placeholder="password" />
        &nbsp;<ValidationMessage For="@(() => registerModel.Password)" />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password"
               class="form-control col-12"
               @bind="@registerModel.ConfirmPassword" placeholder="confirm password" />
        &nbsp;<ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
    </div>
    <br />
    <div class="col-12 row">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-primary" value="Sign Up" />
        @*<a href="/login" class="col-3">Login</a>*@
        @if (navigationManager.Uri == "https://localhost:44314/signup/1")
        {
            <a href="/login/1" class="col-3">Login</a>
        }
        else
        {
            <a href="/login" class="col-3">Login</a>
        }
    </div>
    <br />
    <div class="col-12 row" style="text-align:left; font-weight:bold">
        @foreach (var error in RegisterMessage)
        {
            if (error.Length > 0)
            {
                <h6 class="col-12" style="color:red">* @error</h6>
            }

        }
        @*<h6 class="col-12" style="color:red">@RegisterMessage</h6>*@
    </div>
</EditForm>


@code {
    [Parameter]
    public int Number { get; set; }
    private UserBlazorModel registerModel;
    public List<string> RegisterMessage = new List<string>();

    protected override Task OnInitializedAsync()
    {
        registerModel = new UserBlazorModel();
        return base.OnInitializedAsync();
    }

    private async Task<bool> RegisterUser()
    {
        // Call ApiHelper
        try
        {


            RegisterModel register = new RegisterModel
            {
                Email = registerModel.EmailAddress,
                Password = registerModel.Password,
                ConfirmPassword = registerModel.ConfirmPassword
            };

            string createSuccess = await apiHelper.RegisterUser(register);

            if (createSuccess == "success")
            {
                var result = await apiHelper.Authenticate(registerModel.EmailAddress,
                    registerModel.Password);

                UserModel user = new UserModel();
                List<string> UInfor = await apiHelper.GetUserId(result.Access_Token);
                user.Id = UInfor[0];
                user.FirstName = registerModel.FirstName;
                user.LastName = registerModel.LastName;
                user.EmailAddress = registerModel.EmailAddress;
                user.CreatedDate = DateTime.Now;

                await apiHelper.PostUserInfo(user);
            }


            if (navigationManager.Uri == "https://localhost:44314/signup/1")
            {
                navigationManager.NavigateTo("/login/1");
            }
            else
            {
                navigationManager.NavigateTo("/login");
            }

        }
        catch (Exception ex)
        {
            //RegisterMessage = ex.Message.Replace(".","\n");
            int countPeriod = ex.Message.Count(p => p == '.');
            if (countPeriod > 2)
            {
                RegisterMessage = ex.Message.Split('.').ToList();
            }
            else
            {
                RegisterMessage = new List<string>();
                RegisterMessage.Add(ex.Message);
            }
        }

        return await Task.FromResult(true);
    }
}
